<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/teamPlayer.css" rel="stylesheet">
    <title>Home</title>
  </head>
  <body>
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="/index">Home</a>
      <a href="/teams">Teams</a>
      <a href="/players">Players</a>
    </div>
    <div id="main">
      <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>
      <div class="">
      </div>
      <div class="grid-container">
        <div class="grid-center" >
          <h2>Players</h2>
        </div>
        <div class="grid-right">
          <a type="button" href="/models/players/create" class="btn btn-success">
          <i class="fas fa-plus-circle"></i>
          Add new Player
          </a>
        </div>
      </div>
      <table id="myTable">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Player Name</th>
            <th scope="col">Date of birth</th>
            <th scope="col">height</th>
            <th scope="col">Team</th>
            <th scope="col">Position</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          {{#players}}
          <tr class="success">
            <td>{{playerid}}</td>
            <td>{{name}}</td>
            <td>{{dateofbirth}}</td>
            <td>{{height}} cm</td>
            <td>{{teamname}}</td>
            <td>{{posname}}</td>
            <td>
              <a type="button" href="/models/players/{{playerid}}/update" class="btn info">
              <i class="fas fa-edit"></i>
              Edit
              </a>
            </td>
            <td>
              <a type="button" href="/models/players/{{playerid}}/delete" class="btn danger">
              <i class="fas fa-trash-alt"></i>
              Remove
              </a>
            </td>
          </tr>
          {{/players}}
        </tbody>
      </table>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>